  .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .form_login {
    min-width: 300px;
    padding: 40px;
  }

  .form_login img {
    padding-bottom: 20px;
  }
  
  .decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--darkColour);;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 15px;
  }


  